lightgbm==2.2.1
numpy==1.17.3
pandas==0.23.4
psycopg2==2.8.4
scikit-learn==0.22.1
scikit-image==0.16.2
Unidecode==1.1.1
geopandas==0.4.0
pyproj==2.5.0
tqdm==4.36.1
Fiona==1.8.13.post1
Shapely==1.7.0
Rtree==0.8.3
matplotlib==3.0.3
descartes==1.1.0
multiprocess==0.70.9
confluent-kafka==1.5.0
python-ldap==3.3.1
